* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.column {
    float: left;
    padding: 10px;
    height: 650px;
 
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.lefttxt {
    margin: 48px 40px;
    font-size: 32px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Georama', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ultra', serif;            
}

table,
td,
th {
    border: none;
    padding: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {           
    padding-left: 41px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

button {
    padding: 15px 43px;
    margin: 37px;
    border-radius: 29px;
    color: white;
    background-color: red;
    text-align: center;
    opacity: 0.7;
    border: none;
    font-family: 'Georama', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
}

.flex-container>div {
    background-color: white;
    margin: 2px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 35px;
    background-color: white;
    padding: 25px;
    height: calc(40vh - 40px);
}

.grid-container>div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 900;
}

.item {
    grid-row: 1 / span 2;
    margin-top: -20px;
    border-radius: 20px;
    height: calc(37vh - 40px);    
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}

.item img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.dishname {
    margin: -40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.centertxt {
    margin-top: 70px;    
    font-weight: 100;        
    font-family: 'Abril Fatface', cursive;
    font-family: 'Georama', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ultra', serif; 
}

.righttxt {
    font-size: 14px;
    line-height: 1.7;
    margin: 86px 5px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.line {
    background-color: red;
    border: none;
    height: 3px;
    width: 65px;
    margin-top: -62px;
}